@import '../../styles/global';

.button {
    text-decoration: none;
    text-align: center;
    background: $secondary;
    color: $white;
    letter-spacing: 1px;
    font-size: 0.75rem;
    align-self: center;
    padding: 10px 25px;
    @include rounded-corners(20px);
    @include transition(background-color);
    

    &:hover {
        background: $primary;
        cursor: pointer;
    }
    //TODO: Add to media query
    // border: 2px solid $primary;
    // color: $secondary;
}

.text {
    
}