@import '../styles/global';

h2, h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 2rem 0 0;
}

h2 {
    font-family: $heading-font;
    font-size: 1.5rem;
	font-weight: 900;
    margin: 1rem 0 0 0;
    letter-spacing: 0px;
    color: $primary;
}

h3 {
    color: $tertiary;
    font-weight: 300;
    font-family: $body-font;
    font-size: 1rem;
}

.content {
    margin-top: 0;
    background-color: $white;
    @include card;
    padding: 1rem 2rem 3rem;

    @media only screen and (min-width: 834px) {
        width: 800px;
        padding: 2.5rem 4rem;
        margin-left: auto;
        margin-right: auto;
    }
}



p {
    margin: 1rem auto 3rem;

}

.changeCaseStudy {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 2rem;

    @media only screen and (min-width: 834px) {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        padding: 0;
    }
}

.link {
    color: $secondary;
    border: 1px solid $secondary;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 20px;
    @include transition(background-color);

    &:hover {
        background: $primary;
        color: $white;
        border-color: $primary;
    }
}

.image {
    width: 100%;
}

ul {
    padding-left: 1rem;
}

