@import '../styles/global';

h2, h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    color: $primary;
    font-weight: 700;
}

h3 {
    color: $tertiary;
    font-weight: 300;
    font-family: $body-font;
}

.content {
    width: 60%;
    margin: 3rem auto;
    background-color: $white;
    padding: 2.5rem;
    @include rounded-corners;
}

