@import '../..//styles/global';

.container {
    background: $light-background;
    border: 0.5px solid $border;
    opacity: 0.9;
    height: width;
    @include rounded-corners;
    @include transition;
    @include flex(column);

    &:hover {
        @include translate;
        box-shadow: 0 62px 120px -34px rgba(27, 5, 5, 0.1);
        opacity: 1;
    }
}

.link {
    @include clear-link;
}

.image {
    width: 50%;
    margin: 2rem auto 1rem;
}

.title {
    font-family: $heading-font;
    font-size: 1.5rem;
	font-weight: 900;
    margin: 0 0 0.5rem 0;
    letter-spacing: 0px;
    color: $primary;
}

.subtitle {
    font-weight: 400;
    font-family:$body-font;
    line-height: 1.5rem;
    margin: auto;
}

.info {
    text-align: center;
    width: 75%;
    margin: 0 auto 2rem;
}

.kind {
    font-weight: 300;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: $tertiary;
    letter-spacing: 0.1rem;

}

