@import '../..//styles/global';

.container {
    background: $light-background;
    border: 0.5px solid $border;
    opacity: 0.9;
    height: width;
    margin-top: 1rem;
    @include rounded-corners;
    @include transition;
    @include flex(column);

    &:hover {
        @include translate;
        box-shadow: 0 62px 120px -34px rgba(27, 5, 5, 0.1);
        opacity: 1;
    }

    @media only screen and (min-width: 371px) {
        width: 333px;
        margin: auto;
    }

    @media only screen and (min-width: 600px) {
        width: 90%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        padding: 5vw 0;
    }

    @media only screen and (min-width: 700px) {
        width: 567px;
        padding: 35px 0;
        margin-bottom: 3rem;
    }
}

.link {
    @include clear-link;
}

.image {
    width: 40%;
    margin: 2rem auto;
    @media only screen and (min-width: 600px) {
        margin: 1rem 1rem 1rem 2rem;
        height: fit-content;
        width: 30%;
        align-self: center;
    }
}

.title {
    font-family: $heading-font;
    font-size: 1.5rem;
	font-weight: 900;
    margin: 0 0 0.5rem 0;
    letter-spacing: 0px;
    color: $primary;
}

.subtitle {
    font-weight: 400;
    font-family:$body-font;
    line-height: 1.5rem;
    margin: auto;
    width: 90%;

    @media only screen and (min-width: 600px) {
        text-align: left;
        margin-left: 0;
    }
}

.info {
    text-align: center;
    width: 75%;
    margin: 0 auto 2rem;
    @media only screen and (min-width: 600px) {
        text-align: left;
        width: 40%;
        margin: 1rem 0;
        align-self: center;
    }
}

.kind {
    font-weight: 300;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: $tertiary;
    letter-spacing: 0.1rem;
    margin: 0;

}

