$primary: #E74832;
$secondary: lighten($primary, 30%);
$tertiary: #8D8D8D;
$body: #282828;
$background: #FAFAFA;
$light-background: #FFFFFF;
$border: #EBEBEB;

$black: #000000;
$white: #FFFFFF;
$grey: #272427;
$light: #E5E3E4;
$pink: #E40045;
$blue: #ebf2fc;
