@mixin translate($pixels: -8px) {
    transform: translateY($pixels);
    -webkit-transform: translateY($pixels);
}

@mixin clear-link {
    text-decoration: none;
    color: inherit;
}

@mixin rounded-corners($pixels: 15px) {
    border-radius: $pixels;
    -moz-border-radius: $pixels;
    -webkit-border-radius: $pixels;
}

@mixin flex($direction: row, $wrap: nowrap) {
    display: flex;
    flex-flow: $direction $wrap;
}

@mixin transition($kind: false, $speed: 0.5s) {
    @if $kind {
        transition: $kind $speed ease;
    } @else {
        transition: $speed ease;
    }
}

@mixin card {
    margin: 1.5rem 5%;
    padding: 1rem;
    background: white;
    border: 0.5px solid $border;
    @include rounded-corners(15px);
}