@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
@import 'colors.scss';
@import 'mixins.scss';
@import 'reset.scss';

$body-font: 'Questrial', sans-serif;
$heading-font: 'Roboto Condensed', sans-serif;
$accent-font: 'Permanent Marker', serif;

html {
    font-size: 16px;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    scroll-behavior: smooth;
   
}

*, *:before, *:after {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
}

body {
    font: {
        family: $body-font;
        size: 16px;
    }
    color: $body;
    width: 100vw;
    background: $background;
    margin: 0;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
}

img {
    max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
}

