@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
@import 'colors.scss';
@import 'mixins.scss';
@import 'reset.scss';

$body-font: 'Questrial', sans-serif;
$heading-font: 'Roboto Condensed', sans-serif;
$accent-font: 'Permanent Marker', serif;


body {
    font: {
        family: $body-font;
        size: 16px;
    }
    margin: 0;
    color: $body;
    width: 100vw;
    background: $background;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
}

p, li {
    line-height: 2rem;
}