@import '../styles/global';

.container {
    
}

.heading {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $tertiary;
    text-align: center;
    margin: 0;
}

.section {
    border-bottom: 1px solid $blue;
    margin: auto;
    @include card;
    text-align: center;

    @media only screen and (min-width: 528px) {
        width: 475px;
        margin: 2rem auto;
    }

    @media only screen and (min-width: 1023px) {
        width: 800px;
        padding: 2.5rem 4rem;
    }
}

.bulletList {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 90%;
    
    
    > li {
        line-height: 2rem;
        margin-bottom: 0.75rem;
        font-size: 1rem;

        @media only screen and (min-width: 1023px) {
            margin-right: 0;
        }
        
    }

    @media only screen and (min-width: 528px) {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    @media only screen and (min-width: 1023px) {
        width: 95%;
        text-align: left;
        margin-left: 1rem;
    }
}


.nav {
    display: none;
    // flex-flow: column nowrap;
    // align-items: center;
    // justify-content: center;
    // width: 200px;
    // height: 100vh;
    // margin-left: 1rem;
    // margin-top: 2rem;
    // position: fixed;
    // text-align: left;
    
}

.icon {
    @include transition(opacity);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: $body;
    opacity: 0.6;

    &:hover {
        color: $primary;
        opacity: 1;
    }
}


.navLink {
    @include clear-link;
    @include transition(opacity);
    display: inline;
    opacity: 0.6;

    &:hover {
        @extend .icon:hover;
    }
    
}

.active {
    color: $primary;
}


.button {
    margin: 1.5rem auto 3rem;
    text-align: center;
}

.skills {
    padding-left: 0;
    > li {
        list-style: none;
        margin: 0;
        line-height: 2rem;
    }
}

.link {
    color: $primary;
    display: block;
    padding-bottom: 1rem;
}

.interests {
    width: 80%;
}