@import '../styles/global';

.container {
    @include rounded-corners;
    @include transition;
    @include flex;
    background: $light-background;
    border: 0.5px solid $border;
    width: 60%;
    margin: 2rem auto;
    opacity: 0.9;
    &:hover {
        @include translate;
        box-shadow: 0 62px 120px -34px rgba(27, 5, 5, 0.1);
        opacity: 1;
    }
    
}

.link {
    @include clear-link;
}

.title {
    color: $secondary;
    font-family: $heading-font;
    font-size: 3rem;
	font-weight: 900;
    margin: 0 0 0.5rem 0;
    letter-spacing: 0px;

    
}

.subtitle {
    font-weight: 400;
    font-family:$body-font;
    line-height: 1.5rem;
    width: 65%;
    margin: auto;
}

.image {
    @include rounded-corners(5px);
    width: 300px;
    height: 80%;
    margin: 1rem;
}

.info {
    width: 50%;
    margin: auto;
    text-align: center;
}

.kind {
    font-weight: 500;
    text-transform: uppercase;
    color: $tertiary;
    letter-spacing: 5px;

}

