@import '../styles/global';

.footer {
    @include flex();
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 10px 2rem;
    
    > * {
        display: inline;
        color: $tertiary;
    }
}

.icon {
    @include transition(opacity);
    font-size: 2rem;
    color: $black;
    opacity: 0.2;

    &:hover {
        opacity: 0.4;
    }
}


a {
    padding: 1rem;
}

.copyrightIcon {
    margin: auto 10px;
}

