@import '../styles/global';

.company {
    color: $body;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline;
    letter-spacing: 0;
}

.container {
    margin-bottom: 3rem;
}

.role, .skillType{
    color: $primary;
    text-transform: uppercase;
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0; 
    margin: 0; 
}

.details {
    color: $tertiary;
    font-weight: 300;
    font-size: 0.9rem;

    > p {
        display: inline;
    }

    > p:first-child {
        margin-right: 0.5rem;
    }

    > p:last-child {
        margin-left: 0.5rem;
    }
}

