@import '../../styles/global';

.footer {
    @include flex(column);
    align-items: center;
    width: 100vw;
    
    > * {
        color: $tertiary;
    }
}

.icon {
    @include transition(opacity);
    font-size: 2rem;
    color: $black;
    opacity: 0.2;

    &:hover {
        opacity: 0.4;
    }
}


a {
    padding: 1rem;
}

.copyrightIcon {
    margin: auto 10px;
    color: $primary;
}

.socialMedia {
    margin: 1.5rem 0;
}

.copyright {
    margin: 0;
    padding-bottom: 1rem;
    font-size: 0.9rem;
}