@import '../../styles/global';

.footer {
    @include flex(column);
    align-items: center;
    width: 100vw;
    
    > * {
        color: $tertiary;
    }

    @media only screen and (min-width: 600px) {
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }
}

.icon {
    @include transition(opacity);
    font-size: 2rem;
    color: $black;
    opacity: 0.2;
    
    &:hover {
        opacity: 0.4;
        cursor: pointer;
    }
}


a {
    padding: 1rem;
}

.copyrightIcon {
    margin: auto 10px;
}

.socialMedia {
    margin: 1.5rem 0;
}

.copyright {
    margin: 0;
    font-size: 0.9rem;
}

.button {
    display: none;
    margin: 1.5rem auto;
    text-align: center;
}